{% extends 'baseadmin.html.twig' %}

{% block title %}Lista de usuarios{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
    <!-- Main Content -->
        <div class="container-fluid">
                <div class="side-body">
                    <div class="page-title">
                        <span class="title">USUARIOS</span>
                        <div class="description"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                    <div class="title">Lista de usuarios</div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="card-body">
                                        <table id="myTable" class="datatable table table-striped" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Nombre</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                    <th>Estado</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for usuario in usuarios %}
                                                <tr>
                                                    <td>{{usuario.id}}</td>
                                                    <td>{{usuario.username}}</td>
                                                    <td>{{usuario.email}}</td>
                                                    <td>{% for role in usuario.roles %}
                                                        {{role}},
                                                    {% endfor %}</td>
                                                    <td>{{usuario.locked ? 'Bloqueado':'Desbloqueado'}}</td>
                                                    <td>
                                                        <a class="btn btn-default" data-toggle="modal" data-target="#confirm-delete" data-href="{{path('App_admin_activateUsuario',{id : usuario.id}) }}">Activar/Desactivar</a>
                                                    </td>

                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div>

<!-- Mensaje de confirmación de bloquear/desbloquear-->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Mensaje de confirmación
                </div>
                <div class="modal-body">
                    ¿Esta seguro de bloquear/desbloquear el elemento seleccionado?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger btn-ok">Aceptar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

 <!-- /.Botón de confirmación de bloquear/desbloquear-->
    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) 
        {$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));});
    </script>

    <script>
        $(document).ready(function() {
        var table = $('#dataTables').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5',
                ]
            } );
        } );
    </script>

{% endblock %}
