{% extends 'baseadmin.html.twig' %}

{% block title %}Lista de utensilios{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <!-- Main Content -->
        <div class="container-fluid">
                <div class="side-body">
                    <div class="page-title">
                        <span class="title">UTENSILIOS</span>
                        <div class="description"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                    <div class="title">Lista de utensilios</div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <a class="btn btn-default" href="{{path('App_admin_addUtensilio') }}">Añadir</a>
                                    <div class="card-body">
                                        <table id="myTable" class="datatable table table-striped" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Descripción</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for utensilio in utensilios %}
                                                <tr>
                                                    <td>{{utensilio.nombre}}</td>
                                                    <td>{{utensilio.descripcion}}</td>
                                                        <div class="btn-group" role="group" aria-label="Default button group">
                                                    <td>
                                                            <a class="btn btn-default" href="{{path('App_admin_modifyUtensilio',{id : utensilio.id}) }}">Ver/Modificar</a>
                                                            <a class="btn btn-default" data-toggle="modal" data-target="#confirm-delete" data-href="{{path('App_admin_deleteUtensilio',{id : utensilio.id}) }}">Eliminar</a>
                                                    </td> 
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div>

<!-- Mensaje de confirmación de eliminación-->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Mensaje de confirmación
                </div>
                <div class="modal-body">
                    ¿Esta seguro de eliminar el elemento seleccionado?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger btn-ok">Eliminar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

 <!-- /.Botón de confirmación de eliminar-->
    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) 
        {$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));});
    </script>

     <!-- /.Buscador -->
    <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function(){$('#myTable').DataTable();
        });
    </script>

{% endblock %}
