
	<div class="form-group">
		{{ form_row(formTecnica.nombre) }}
	</div>
	<div class="form-group">
		{{ form_row(formTecnica.descripcion) }}
	</div>
	<div class="form-group">
		{{ form_row(formTecnica.vid) }}
	</div>
	<div class="form-group">
		{{ form_row(formTecnica.utensilios) }}
	</div>

        {{ form_errors(formTecnica) }}

