{% extends 'baseadmin.html.twig' %}

{% block title %}Lista de recetas{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
    <!-- Main Content -->
        <div class="container-fluid">
                <div class="side-body">
                    <div class="page-title">
                        <span class="title">RECETAS</span>
                        <div class="description"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                    <div class="title">Lista de recetas</div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <a class="btn btn-default" href="{{path('App_admin_addReceta') }}">Añadir</a>
                                    <div class="card-body">
                                        <table id="myTable" class="datatable table table-striped" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Fecha de creación</th>
                                                    <th>Tiempo de preparación</th>
                                                    <th>Dificultad</th>
                                                    <th>Comensales</th>
                                                    <th>Calorias</th>
                                                    <th>Horas de ingesta</th>
                                                    <th>Apto para celiacos</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for receta in recetas %}
                                                <tr>
                                                    <td>{{receta.nombre}}</td>
                                                    <td>{{ receta.fechaCreacion|date('Y-m-d') }}</td>
                                                    <td>{{receta.tiempoPreparacion|date('H-i-s')}}</td>
                                                    <td>{{receta.dificultad}}</td>
                                                    <td>{{receta.numeroComensales}}</td>
                                                    <td>{{receta.calorias}}</td>
                                                    <td>{% for horaIngesta in receta.horasIngesta %}
                                                        {{horaIngesta.nombre}},
                                                    {% endfor %}</td>
                                                    <td>{{receta.celiaco ? 'Sí':'No'}}</td>
                                                    <td>
                                                        <div class="btn-group" role="group" aria-label="Default button group">
                                                            <a class="btn btn-default" href="{{path('App_admin_modifyReceta',{id : receta.id}) }}">Ver/Modificar</a>
                                                            <a class="btn btn-default" data-toggle="modal" data-target="#confirm-delete" data-href="{{path('App_admin_deleteReceta',{id : receta.id}) }}">Eliminar</a>
                                                        </div>
                                                    </td> 
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div>

<!-- Mensaje de confirmación de eliminación-->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Mensaje de confirmación
                </div>
                <div class="modal-body">
                    ¿Esta seguro de eliminar el elemento seleccionado?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger btn-ok">Eliminar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

 <!-- /.Botón de confirmación de eliminar-->
    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) 
        {$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));});
    </script>

    <script>
        $(document).ready(function(){$('#myTable').DataTable();
        });
    </script>

    !-- /.Para añadir nueva receta-->
    <script>
        $('body').on('submit', '.ajaxForm', function (e) {

        e.preventDefault();

        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function(jqXHR) {
                        $('#myModal').modal('hide');

                        $('#addConfirm').find('.modal-body').html(jqXHR.message);
                        $('#addConfirm').find('.modal-title').html('Añadir')
                        $('#addConfirm').modal('show');
                        $("#addConfirm").modal();
                        window.location.reload();
                    },
                    error: function(jqXHR) {
                        if (jqXHR.responseJSON.hasOwnProperty('form')) {
                            $('#form_body').html(jqXHR.responseJSON.form);
                        }

                        $('.form_error').html(jqXHR.responseJSON.message);
                    },
            });
        });
    </script>

{% endblock %}