	<div class="form-group">
		{{ form_row(formMenu.nombre) }}
	</div>
	<div class="form-group">
		{{ form_row(formMenu.descripcion) }}
	</div>
	<div class="form-group">
		{{ form_label(formMenu.publico) }}</br>{{ form_widget(formMenu.publico) }}
	</div>
		 {{ form_errors(formMenu) }}

