	<div class="form-group">
		{{ form_row(formIngrediente.nombre) }}
	</div>
	<div class="form-group">
		{{ form_row(formIngrediente.descripcion) }}
	</div>
	<div class="form-group">
		{{ form_label(formIngrediente.tipoIngrediente) }}</br>{{ form_widget(formIngrediente.tipoIngrediente) }}
	</div>
	<div class="form-group">
		{{ form_label(formIngrediente.unidadMedida) }}</br>{{ form_widget(formIngrediente.unidadMedida) }}
	</div>
	<div class="form-group">
		{{ form_row(formIngrediente.caloriasUnidad) }}
	</div>
		<div class="form-group">
		{{ form_label(formIngrediente.celiaco) }}</br>{{ form_widget(formIngrediente.celiaco) }}
	</div>
        {{ form_errors(formIngrediente) }}
		
